<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <% if (user) {%>
    <h2>Welcome Back <%= user.username %></h2>
    <a href="/auth/logout">LOG OUT</a>
    <form action="/post" method="POST">
      <label for="title">Title</label>
      <input type="text" name="title" placeholder="Title" />
      <label for="message">Message</label>
      <textarea name="message" id="message"></textarea>
      <button>Submit</button>
    </form>
    <% } else { %>
    <h2>Please log in</h2>
    <form action="/auth/login" method="POST">
      <label for="username">Username</label>
      <input name="username" placeholder="username" type="text" />
      <label for="password">Password</label>
      <input name="password" type="password" />
      <button>Log In</button>
    </form>
    <a href="/auth/signup">Sign Up</a>
    <%}%>
  </body>
</html>
