<!DOCTYPE html>
<html>
  <head>
    <title>Signup</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Sign Up</h1>
    <form action="" method="POST">
      <label for="username">Username</label>
      <input name="username" placeholder="username" type="text" />
      <label for="password">Password</label>
      <input name="password" type="password" />
      <label for="confirm">ConfirmPassword</label>
      <input name="confirm" type="password" />
      <button>Sign Up</button>
    </form>
    <% if (errors) { %>
    <h2>Fix the following errors and resubmit:</h2>
    <ul>
      <% for (const error of errors.errors) { %>
      <li><%= error.msg %></li>
      <% } %>
    </ul>
    <% } %>
  </body>
</html>
